APP_ID={APP_ID}

DEMO_CLIENT_URL={DEMO_CLIENT_URL}
DEMO_CLIENT_SCOPE=jakarta.inject.Singleton

# Local Variables
DEMO_DB_KIND={DEMO_DB_KIND}
DEMO_DB={DEMO_DB}
DEMO_HOST={DEMO_HOST}
DEMO_PORT={DEMO_PORT}
DEMO_USERNAME={DEMO_USERNAME}
DEMO_PASSWORD={DEMO_PASSWORD}
DEMO_SCHEMA={DEMO_SCHEMA}

ENABLE_QUARKUS_MANAGEMENT={ENABLE_QUARKUS_MANAGEMENT}

# Redis configuration
REDIS_KIND_CONNECT={REDIS_KIND_CONNECT}
REDIS_HOST={REDIS_HOST}
REDIS_PORT={REDIS_PORT}
REDIS_CONNECTION_TIMEOUT={{REDIS_CONNECTION_TIMEOUT}
REDIS_DATABASE_INDEX={REDIS_DATABASE_INDEX}
